.nav.navbar-nav.navbar-right {
	margin-right: 2%;
	cursor: pointer;
}

.img-logo {
	width: 57%;
	vertical-align: top !important;
}

.clickable {
	cursor: pointer;
}

.bg-disabled {
	background: lightgrey;
}

.content {
	min-height: 93vh !important;
}