.nav.navbar-nav.navbar-right {
	margin-right: 2%;
	cursor: pointer;
}

.img-logo {
	width: 57%;
	vertical-align: top !important;
}

.clickable {
	cursor: pointer;
}

.bg-disabled {
	background: lightgrey;
}

.content {
	min-height: 93vh !important;
}

.main-header .logo {
	font-size: 14pt !important;
}

.bg-piloto {
    background-color: #50c5ff;
}

.bg-alumno {
    background-color: #90ff62;
}

.bg-delete {
    background-color: #ff0c0c !important;
}

.td-avion {
    border-left: 1px solid #f4f4f4 !important;
}