.bg-themeBlue {
  background-color: "#ddeefb"; }

.text-themeBlue {
  color: "#ddeefb"; }

body.themeBlue .app-header .navbar-brand {
  background-color: "#ddeefb";
  border-right: "1px solid #bad0df"; }
  body.themeBlue .app-header .navbar-brand:after {
    background-color: "#a5c6df"; }

body.themeBlue .app-aside {
  border-right: "1px solid #bad0df";
  background-color: "#ddeefb"; }
  body.themeBlue .app-aside .app-nav-caret {
    background-color: "#ddeefb"; }

body.themeBlue.app-aside-docked .app-aside {
  border-bottom: 1px solid "#a5c6df";
  border-right: none; }

body.themeBlue .hoverAsideStyle, body.themeBlue.app-aside-folded .nav-wrapper > .main-nav > li > .nav-children, body.themeBlue.app-aside-docked .nav-wrapper > .main-nav > li > .nav-children, body.themeBlue.app-aside-folded .app-aside > .nav-children, body.themeBlue.app-aside-docked .app-aside > .nav-children {
  border-top: "1px solid #bad0df";
  border-bottom: "1px solid #bad0df";
  border-right: "1px solid #bad0df";
  border-left: "1px solid #bad0df"; }

body.themeBlue .main-nav {
  background-color: "#ddeefb"; }
  body.themeBlue .main-nav.nav-children {
    background-color: "#d4e9fa"; }
    body.themeBlue .main-nav.nav-children > li > a:hover {
      background-color: "#cae8fb"; }
  body.themeBlue .main-nav li > a {
    color: "#454648"; }
    body.themeBlue .main-nav li > a > i {
      color: "#454648";
      background-color: "#b4d9f6"; }
    body.themeBlue .main-nav li > a div > .nav-arrow {
      color: "#454648"; }
    body.themeBlue .main-nav li > a:hover {
      background-color: "#d4e9fa";
      color: "#007aff"; }
      body.themeBlue .main-nav li > a:hover i {
        color: "#007aff"; }
      body.themeBlue .main-nav li > a:hover div > i {
        color: "#007aff"; }
  body.themeBlue .main-nav li.divider {
    border-color: "#c7dcea"; }
  body.themeBlue .main-nav li.active > a {
    background-color: "#cae8fb";
    color: "#007aff";
    border-color: "#b1dbf9"; }
    body.themeBlue .main-nav li.active > a > i {
      color: "#007aff"; }
    body.themeBlue .main-nav li.active > a div > i {
      color: "#007aff"; }
    body.themeBlue .main-nav li.active > a div:before {
      background-color: transparent; }
  body.themeBlue .main-nav li.opened > a {
    background-color: "#d4e9fa"; }
    body.themeBlue .main-nav li.opened > a i, body.themeBlue .main-nav li.opened > a div, body.themeBlue .main-nav li.opened > a span {
      color: "#007aff"; }
  body.themeBlue .main-nav li .nav-tools a {
    color: "#454648"; }
    body.themeBlue .main-nav li .nav-tools a:hover {
      color: "#007aff"; }
  body.themeBlue .main-nav li .nav-tools .btn-app {
    border: 1px solid "#007aff";
    color: "#007aff"; }
  body.themeBlue .main-nav li .nav-tools .btn-left, body.themeBlue .main-nav li .nav-tools .btn-right {
    color: "#454648"; }
    body.themeBlue .main-nav li .nav-tools .btn-left:hover i, body.themeBlue .main-nav li .nav-tools .btn-right:hover i {
      color: "#007aff"; }
