<div class="modal fade" id="newEvent">
	<div class="modal-dialog">
		<form action="/backend/turno/create" method="POST" class="form-horizontal form-new-event" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title form-new-title">Nuevo Turno</h4>
					<h4 class="modal-title form-edit-title">Editar Turno</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="turno[id]" id="turno-id">
					<input type="hidden" name="turno[avion]">
					<input type="hidden" name="turno[selected-dates]">
					<input type="hidden" name="turno[multiple]">
					<div class="form-group form-group-usuario">
						<label for="turno-user" class="col-sm-2 control-label">Usuario:</label>
						<div class="col-sm-10">
							<select name="turno[user]" id="turno-user" class="form-control select2" required style="width: 100%">
                                {% if users | length > 1 %}
									<option value="">Seleccione usuario...</option>
                                {% endif %}
								{% for user in users if user.userData is not null %}
                                    <option value="{{ user.id }}">
										{{ (user.userData.lastName ~ ', ' ~ user.userData.name) | lower | title }}
									</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="textareaComentario" class="col-sm-2 control-label">Comentario:</label>
						<div class="col-sm-10">
							<textarea name="turno[comentario]" id="textareaComentario" class="form-control" rows="3"></textarea>
						</div>
					</div>
					<div class="form-group move-turno">
						<label for="turno-fecha" class="col-sm-2 control-label">Fecha:</label>
						<div class="col-sm-10">
							<div class="col-sm-6">
								<input type="date" class="form-control" name="turno[fecha]" id="turno-fecha">
							</div>
							<div class="col-sm-6">
								<select name="turno[horario]" id="turno-horario" class="form-control">
									{% for itemHorario in horarios %}
    	                                {% if itemHorario < '1400' %}
											<option value="{{ itemHorario }}">{{ itemHorario }}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="form-group created-turno">
						<label for="createdBy" class="col-sm-2 control-label">Creación:</label>
						<div class="col-sm-10">
							<input id="createdBy" type="text" readonly class="form-control" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button"
                            class="btn btn-danger form-delete-btn" onclick="deleteEvent();">Eliminar turno</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar edici&oacute;n</button>
					<button type="button" onclick="saveEvent();" class="btn btn-success form-new-btn">Crear turno</button>
					<button type="button" onclick="saveEvent(true);" class="btn btn-success form-edit-btn">Editar turno</button>
				</div>
			</div>
		</form>
	</div>
</div>