<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="servicios aereos psa">
        <meta name="author" content="sebastian portesi">
        <title>Servicios Aereos PSA</title>

        <link rel="stylesheet" href="{{ asset("/css/app.min.css") }}" type="text/css">
    </head>

    <body>
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>PSA</b> Servicios Aéreos</a>
        </div>

        <div class="login-box-body">
            <p class="login-box-msg">Intoduzca sus credenciales</p>
            {% block fos_user_content %}{% endblock %}

            {#<a href="#">I forgot my password</a><br>#}
            {#<a href="register.html" class="text-center">Register a new membership</a>#}
        </div>
    </div>

    <script src="{{ asset("/js/app.min.js") }}"></script>

</body>

</html>
