<div class="modal fade" id="newEvent">
	<div class="modal-dialog">
		<form action="" method="POST" class="form-horizontal form-new-event" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title form-new-title">Nuevo Turno</h4>
					<h4 class="modal-title form-edit-title">Editar Turno</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="turno[id]">
					<input type="hidden" name="turno[dia]">
					<input type="hidden" name="turno[horario]">
					<input type="hidden" name="turno[avion]">
					<input type="hidden" name="turno[fecha]">
					<input type="hidden" name="turno[updatedAt]">
					<input type="hidden" name="turno[piloto]">
					<input type="hidden" name="turno[alumno]">
					<div class="form-group">
						<label for="textareaComentario" class="col-sm-2 control-label">Comentario:</label>
						<div class="col-sm-10">
							<textarea name="turno[comentario]" id="textareaComentario" class="form-control" rows="3" required="required"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger form-delete-btn" onclick="deleteEvent(this)">Cancelar turno</button>
					<button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
					<button type="submit" class="btn btn-success form-new-btn">Pedir turno</button>
				</div>
			</div>
		</form>
	</div>
</div>