<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MENÚ</li>
            <li>
                <a href="{{ path('backend_turno_index') }}">
                    <i class="fa fa-table"></i> <span>Turnos</span>
                </a>
            </li>
            <li>
                <a href="{{ path('backend_avion_index') }}">
                    <i class="fa fa-plane"></i> <span>Aviones</span>
                </a>
            </li>
            <li>
                <a href="{{ path('BackendPilotoHomepage') }}">
                    <i class="fa fa-user"></i> <span>Pilotos</span>
                </a>
            </li>
            <li>
                <a href="{{ path('BackendAlumnoHomepage') }}">
                    <i class="fa fa-child"></i> <span>Alumnos</span>
                </a>
            </li>
        </ul>
    </section>
</aside>