<div class="modal fade" id="modal-instrucciones" tabindex="-1" role="dialog" aria-labelledby="modal-instrucciones">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-instrucciones">INSTRUCCIONES RESERVA DE TURNOS</h4>
      </div>
      <div class="modal-body text-justify">
        <h4>Puede reservar su turno de la siguiente manera</h4>
        <p>En los casilleros que se encuentren libres (no grisados), usted puede hacer click y se desplegara una nueva ventana.</p>
        <p>Debera ingresar un comentario que haga referencia a que tipo de vuelo va a realizar.</p>
        <p>Tenga en cuenta que el horario estara sujeto a modificaciones por parte de PSA.</p>
        <p>Si usted es alumno, solamente podra reservar un turno por dia.</p>
        <p>Para cancelar un turno, puede hacerlo de manera online hasta un dia antes. De lo contrario debera comunicarse con PSA. Para cancelar el turno, haga click sobre el mismo y una nueva ventana se mostrara. Ahi vera el boton "Cancelar Turno" coloreado en rojo.</p>
        <p>Si usted es piloto, puede reservar mas de una hora por dia. Para facilitar la operacion, puede mantener apretada la tecla "CTRL" mientras elige, 
        haciendo click, los horarios que desee.</p>
        <p>Debajo del rango de fechas, en la esquina superior derecha, puede ver dos botones, "Semana Actual", "Semana Siguiente". Puede utilizar estos botones para navegar entre las distintas semanas.</p>
      </div>
    </div>
  </div>
</div>